body.bg-dark {
  background-color: #ffffff !important;
  color: #333 !important;
}

body #profile .row .col-md-9 ul li {
  background-color: #ffffff !important;
  color: black !important;
}

body a {
  color: black !important;
}
